.jumbotron {
  background: #688c2f;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #4516f0;
  border-color: #3a3dee;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
