{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/logo-gps-technology.png">
        </a>
    <h1>Bienvenidos GPS TECHNOLOGY</h1>
    <p>Somos una empresa colombiana con amplia experiencia en el mercado de la seguridad electrónica, brindamos productos y servicios tecnológicos para la protección de bienes, tales como vehículos, vivienda y locales comerciales.etc .</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Google Store</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span>APP Store</a>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> QUIENES SOMOS:</h3>
      <ul>
        <li>Somos  una empresa dedicada a la  seguridad electrónica, que brindamos productos y servicios tecnológicos para la protección de los bienes de nuestros clientes.</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> MISION:</h3>
      <ul>
        <li>Brindar a nuestros clientes, soluciones tecnológicas innovadoras que satisfagan sus necesidades en seguridad electrónica, con la aplicación de nuestro conocimiento y experiencia en el mercado.
para garantizar la calidad y confiabilidad en la instalación de nuestros productos.</li>
        
        <ul>
         
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> VISION:</h3>
      <ul>
        <li>Para el año 2030 Ser reconocidos a nivel nacional como empresa líder en la comercialización e instalación de dispositivos de  seguridad electrónica y rastreo satelital.
</li>
        
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

{% endblock %}
