{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/ " class="lang-logo">
      <img src="/images/logo-iotgarbage.png">
        </a>

    <h1>Bienvenidos </h1>
    <h2> IOT GARBAGE</h2>
    <p>IOT GARBAGE, es un proyecto pensado el en cuidado del medio ambiente mediante el trato y clasificacion adecuado de las basuras en la ciudad de barranquilla.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Google Store</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span>APP Store</a>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> QUIENES SOMOS:</h3>
      <ul>
        <li>Somos  una empresa dedicada a la  seguridad electrónica, que brindamos productos y servicios tecnológicos para la protección de los bienes de nuestros clientes.</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> MISION:</h3>
      <ul>
        <li>Brindar a nuestros clientes, soluciones tecnológicas innovadoras que satisfagan sus necesidades en seguridad electrónica, con la aplicación de nuestro conocimiento y experiencia en el mercado.
para garantizar la calidad y confiabilidad en la instalación de nuestros productos.</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> VISION:</h3>
      <ul>
        <li>En el año 2030 ser reconocidos a nivel nacional como empresa líder en la comercialización e instalación de dispositivos de  seguridad electrónica y rastreo satelital.</li>
        
      </ul>

</ul>
      <h3><span class="glyphicon glyphicon-info-sign"></span> VISION:</h3>
      <ul>
        <li>Para el año 2030 Ser reconocidos a nivel nacional como empresa líder en la comercialización e instalación de dispositivos de  seguridad electrónica y rastreo satelital.
</li>
        
      </ul>
        
        <ul>
          <h3><span class="glyphicon glyphicon-link"></span> CONTACTANOS:</h3>
          <li>Telefonos: 3135577841</li>
          
          <li>Escribenos<a href="https://wa.me/message/KLZJV353HO4BC1">Whatsapp</a> </li>.
          <li>Escribenos<a href="https://msng.link/o/?GPS_TECHNOLOGY=tg">Telegram</a> </li>.
           </ul>
           
            

{% endblock %}
